<!DOCTYPE html>

<html>
<head>
<title>Robot</title>
<link rel= "stylesheet" type= "css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
  <body>
    <h1>Irrigation Robot</h1>
    <img src="http://192.168.0.173:8080/" style="float:left; width:100%; max-width: 200px; max-height:300px; border-radius:10px">
	<hr>
	<h4> PAN Angle: 
		<a href="/pan/left" class="button">Left</a> [ {{ panServoAngle }} ] 
		<a href="/pan/right" class="button">Right</a> </h4>

	<h4> TILT Angle: 
		<a href="/tilt/down" class="button">Down</a> [ {{ tiltServoAngle }} ] 
		<a href="/tilt/up" class="button">Up</a> </h4>

	 <h4> LED: 
		<a href="/led/off" class="button">Off</a> [ {{ led }} ]
        <a href="/led/on" class="button">On</a> </h4>

	<h4> Drive: 
		<a href="/drive/left" class="button">Left</a> [ {{ current1 }} ]  
		<a href="/drive/right" class="button">Right</a> </h4>
	<h4> Drive: 
		<a href="/drive/forward" class="button">Forward</a> [ {{ current1 }} ]  
		<a href="/drive/backward" class="button">Backward</a> </h4>
	<h4> Drive: 
		<a href="/drive/stop" class="button">Stop</a></h4>
	<h4> Sensor: 
		<a href="/testSoil/on" class="button">Measure</a></h4>
	<hr>
	<p>Developed by Sana</p>
  </body>
</html>


